body{
    background-color: rgb(40, 41, 53);
}
.titulo{
    text-align: center;
    color: aliceblue;
}

p{
    text-align:center;
    color: aliceblue;
}
header{
    border: solid black;
    background-color: rgb(173, 50, 50);
}


.Banner{
    margin: 5px;
    text-align: center;
}
#nome{
    width: 75vh;
    height: 30vh;
} 
.imagem{
    margin: 5px;
    text-align: center;
}

#personagen{
    width: 50vh;
    height: 50vh;
    background-position: center;
}

